################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SqlHelper基类/DBHelper/obj
/.vs
/Utility基础类大全/.vs/Common.Utility/v15
/Utility基础类大全/C#读取AD域里用户名或组/ActiveDirectoryDome/ActiveDirectoryDome/obj
/Utility基础类大全/DBHelper/obj
